@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	background-color: black;
}
h2,
h1,
h3 {
	font-family: 'Press Start 2P', cursive;
	color: white;
}
input {
	color: white;
	text-opacity: 90%;
}
